<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Background Remover</name>
    <description>Sample Apache Cordova App</description>
    <author email="morgancuiuwu@gmail.com" href="https://morgancuiuwu@gmail.com">
        Apache Cordova Team
    </author>
    <icon src="www/img/icon.png" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/img/resized_icon.png" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Hostname" value="localhost" />
    <preference name="Scheme" value="https" />
    <access origin="*" />
    <allow-navigation href="*" />
</widget>
